<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMSGP</title>
    <script src="{{ url_for('static', filename='js/frontend.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="banner">
        <a href="/">Home</a>
        <a href="/students">Students</a>
    </div>
    <div class="container">
       <h2>Welcome/Login</h2> 
    </div>
</body>
</html>